---
layout: default
---

<article>
  {% include meta.html post=page %}
  {{ content }}
  {% if site.comments.isso_domain or site.comments.disqus_shortname %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>

{% unless site.show_minimal or site.footer %}
  {% if page.next.url or page.previous.url %}
    <footer class="nowrap {% if site.show_frame %}dark{% else %}smooth{% endif %}">
      
      {% if page.next.url %}
        <a href="{{ page.next.url | relative_url }}">« {{ page.next.title }}</a>
      {% endif %}

      {% if page.previous.url %}
         
        <a href="{{ page.previous.url | relative_url }}">{{ page.previous.title }} »</a>
      {% endif %}

    </footer>
  {% endif %}
{% endunless %}

<div style="max-width: 1000px; margin: 0 10px">
  <script src="https://giscus.app/client.js"
        data-repo="rodsalazar324-commits/my-blog"
        data-repo-id="R_kgDORxeYDg"
        data-category="Announcements"
        data-category-id="DIC_kwDORxeYDs4C9tfx"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
  </script>
</div>